/* Указываем box sizing */
*,
*::before,
*::after {
   box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
   padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
   margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
   min-height: 100vh;
   scroll-behavior: smooth;
   text-rendering: optimizeSpeed;
   line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
   list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
   text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
   max-width: 100%;
   display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
   margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
   font: inherit;
}
a {
   text-decoration: none;
}
html {
   scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.parent {
   font-family: Montserrat;
   color: #e4e4e4;
   &__wrapper {
   }
}
.head {
   background: url("../image/head/PA_Fon.svg") 0 0 no-repeat;
   padding: 90px 0px 245px 0px;
   margin: 0px 0px -59px 0px;
   overflow: hidden;

   &__wrapper {
   }
}
.header {
   z-index: 100000;
   width: 100%;
   position: fixed;
   top: 0px;
   background: rgba(0, 0, 0, 0.2);
   backdrop-filter: blur(8px);
   padding: 30px 0px 10px 0px;
   &__wrapper {
      margin: 0px auto;
      max-width: 1320px;
   }
}
.munu__burger {
   display: none;
}
.menu {
   max-width: 676px;
   &__items {
      display: flex;
      justify-content: space-between;
   }

   &__item {
   }

   &__link {
      color: rgb(138, 123, 123);

      &:hover {
         color: #e4e4e4;
      }
   }
}

.link__active {
   color: #e4e4e4;
}
.pickAim {
   &__wrapper {
      display: flex;
      max-width: 1320px;
      margin: 0px auto;
   }
   &__body {
      margin: 0px 100px 0px 0px;
      max-width: 595px;
   }
   &__title {
      margin: 180px 0px 0px 0px;
      display: flex;
      flex: 1 1 auto;
      max-width: 416px;
      font-size: 90px;
      font-weight: 600;
      background: linear-gradient(90deg, #8000ff, #ff2e00);
      -webkit-background-clip: text;
      color: transparent;
   }

   &__text {
      margin: 55px 0px 0px 0px;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.05em;
   }

   &__logo {
   }

   &__logo-img {
      animation-name: rotateLogo;
      animation-duration: 90s;
      animation-iteration-count: infinite;
   }
}

.title__content-btn {
   border: none;
   outline: none;
   position: relative;
   z-index: 0;

   margin-top: 80px;
   height: 60px;
   width: 235px;
   border-radius: 5px;
   background: linear-gradient(
      90deg,
      rgba(255, 46, 0, 0.91) 13%,
      rgba(189, 0, 255, 0.3) 70%,
      rgba(12, 12, 12, 0.2) 95%
   );
   display: flex;
   align-items: center;
   padding-left: 40px;
}

.title__content-btn:before {
   content: "";
   background: linear-gradient(45deg, #e72a0d, #bc1874, #9b0bbf, #8001fe, #9b0bbf, #bc1874, #e72a0d);
   position: absolute;
   top: -2px;
   left: -2px;
   background-size: 400%;
   z-index: -1;
   filter: blur(5px);
   width: calc(100% + 4px);
   height: calc(100% + 4px);
   animation: glowing 10s linear infinite;
   opacity: 0;
   transition: opacity 0.3s ease-in-out;
   border-radius: 5px;
}

.title__content-btn:hover:before {
   opacity: 1;
}

.title__content-btn:after {
   z-index: -1;
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   background: linear-gradient(90deg, rgba(255, 46, 0, 0.91) 13%, rgba(189, 0, 255, 0.3) 70%);
   left: 0;
   top: 0;
   border-radius: 5px;

   background-size: 400%;
   animation: glow 3s linear infinite;
   opacity: 1;
   transition: opacity 0.9s ease-in-out;
}

.title__content-btn:hover:after {
   background: #0b0b0b;
}

@keyframes glow {
   0% {
      background-position: 0 0;
   }
   50% {
      background-position: 100% 0;
   }
   100% {
      background-position: 0 0;
   }
}

@keyframes glowing {
   0% {
      background-position: 0 0;
   }
   50% {
      background-position: 400% 0;
   }
   100% {
      background-position: 0 0;
   }
}

.title__btn-text {
   font-weight: 500;
   color: #e4e4e4;
   font-size: 16px;
}

@keyframes rotateLogo {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

@media (max-width: 1650px) {
   .head {
      background: none;
      background-color: #000000;
      padding: 50px 30px 100px 30px;
   }
   .pickAim__logo-img {
      margin-top: 70px;
   }
}

@media (max-width: 1280px) {
   .head {
      padding: 0px 30px 100px 30px;
   }

   .pickAim__logo {
      margin: 100px 0px 0px 0px;
   }
}

@media (max-width: 1024px) {
   .head {
      padding: 0px 30px 150px 30px;
   }
   .pickAim__title {
      margin: 120px 0px 0px 0px;
   }
   .pickAim__logo {
      margin: 150px 0px 0px 0px;
   }
}

@media (max-width: 768px) {
   .head {
      padding: 0px 30px 130px 30px;
   }
   .pickAim__title {
      margin: 100px 0px 0px 0px;
   }
   .pickAim__logo {
      display: none;
   }
   .header {
      left: 0px;
   }

   .menu {
      margin: -30px 0px 0px 0px;
   }
   .munu__burger {
      display: block;
      max-height: 35px;
      max-width: 35px;
      margin: 0px 0px 0px 30px;
   }
   .menu__items {
      display: none;
      flex-direction: column;
      height: 500px;
      align-items: center;
      border-radius: 5px;
      max-width: 700px;
      justify-content: start;
   }
   .menu__item {
      margin: 30px 0px 0px 0px;
   }
   .menu__link {
      font-size: 20px;
      font-weight: 700;
      color: rgb(151, 151, 151);
   }
   .menu-active {
      display: flex;
   }
}

@media (max-width: 480px) {
   .pickAim__text {
      margin: 35px 0px 0px 0px;
   }
   .pickAim__text {
      font-size: 14px;
   }
}
@media (max-width: 430px) {
   .head {
      // padding: 0px 30px 90px 30px;
   }
   .pickAim__title {
      margin: 100px 0px 0px 0px;
      font-size: 70px;
   }
   .pickAim__text {
      margin: 35px 0px 0px 0px;
      line-height: 25px;
   }
   .pickAim__body {
      margin: 0px 0px 0px 0px;
      max-width: 595px;
   }
   .title__content-btn {
      margin-top: 50px;
      height: 50px;
      width: 200px;
   }
}
@media (max-width: 360px) {
   .pickAim__title {
      font-size: 60px;
   }
   .pickAim__text {
      font-size: 14px;
   }
   .head {
      padding: 0px 30px 130px 30px;
   }
}
@media (max-width: 320px) {
   .head {
      padding: 0px 30px 120px 30px;
   }
   .pickAim__title {
      margin: 100px 0px 0px 0px;
   }
   .pickAim__text {
      margin: 15px 0px 0px 0px;
   }
   .title__content-btn {
      margin-top: 50px;
      height: 40px;
      width: 150px;
      padding: 23px;
   }
}
// idea

.idea {
   // background: url("../image/idea/bg.svg") 0 0 no-repeat;
   // background: rgb(85, 8, 104);
   // overflow: hidden;
   // position: relative;
   background: linear-gradient(90deg, rgba(85, 8, 104, 1) 0%, rgba(58, 10, 34, 1) 50%, rgba(19, 6, 5, 1) 100%);
   padding: 0px 0px 73px 0px;
   &__wrapper {
      max-width: 1320px;
      margin: 0px auto;
   }

   &__head {
      padding: 50px 0px 0px 0px;
   }

   &__head-title {
      font-weight: 700;
      line-height: 22px;
      font-size: 16px;
      letter-spacing: 0.05em;
      & span {
         font-weight: 500;
         line-height: 19.5px;
      }
   }

   &__columns {
      margin: 46px 0px 0px 0px;
      display: flex;
      justify-content: space-between;
   }

   &__column {
      display: flex;
   }

   &__column-img {
      margin: 0px 25px 0px 0px;
      position: relative;
      left: 15px;
   }
   &__column-im {
      animation-duration: 1s;
      opacity: 0;
      animation-fill-mode: forwards;
   }
   &__column-body {
      padding: 5px 0px 0px 0px;
      letter-spacing: 0.05em;
   }

   &__column-title {
      font-weight: 700;
   }

   &__column-text {
      padding: 5px 0px 0px 0px;
   }
}

@keyframes animIconIdeaColumn {
   0% {
      position: relative;
      top: 100px;
   }
   100% {
      opacity: 1;
      position: relative;
      top: 0px;
   }
}

@media (max-width: 1600px) {
   .idea {
      padding: 0px 30px 73px 30px;
   }
}
@media (max-width: 1280px) {
   .idea__column {
      padding: 0px 5px;
   }
}
@media (max-width: 1050px) {
   .idea__column-body {
      font-size: 14px;
   }
}
@media (max-width: 960px) {
   .idea__columns {
      flex-wrap: wrap;
      justify-content: center;
      margin: 20px 0px 0px 0px;
   }
   .idea__column {
      margin: 25px 0px 0px 0px;
   }
   .idea__column-body {
      max-width: 250px;
   }
}

@media (max-width: 815px) {
   .idea__columns {
      justify-content: start;
   }

   // .idea__columns::after {
   //    content: "PickAim";
   //    // position: absolute;
   //    position: relative;
   //    transform: rotate(90deg);
   //    right: -200px;
   //    top: -300px;
   //    color: #330520;
   //    opacity: 0.5;
   //    z-index: 0;
   //    font-size: 150px;
   //    font-weight: 900;
   //    overflow: hidden;
   // }
}
// @media (max-width: 570px) {
//    .idea__columns::after {
//       right: -250px;
//    }
// }
// @media (max-width: 530px) {
//    .idea__columns::after {
//       display: none;
//    }
// }
@media (max-width: 768px) {
   .idea__column-img {
      margin: 0px 35px 0px 0px;
   }
}
@media (max-width: 360px) {
   .idea__column-body {
      font-size: 12px;
   }
}
@media (max-width: 320px) {
   .idea {
      padding: 0px 30px 53px 30px;
   }
}

// team

.team {
   position: relative;
   z-index: 2;
   background: url("../image/team/bg.svg") 0 0 no-repeat;
   padding: 130px 0px 210px 0px;
   &__wrapper {
      max-width: 1200px;
      margin: 0px auto;
   }

   &__title {
      max-width: 240px;
      background: linear-gradient(90deg, #8000ff, #ff2e00);
      -webkit-background-clip: text;
      color: transparent;
      font-size: 28px;
      font-weight: 600;
      letter-spacing: 0.05em;
   }

   &__columns {
      &-wrapper {
         display: flex;
         flex-direction: column;
      }
      &-two {
         max-width: 1300px;
         padding: 0px 0px 0px 150px;
      }
      display: flex;
      justify-content: space-between;
      max-width: 1050px;
      flex: 1 1 auto;

      &:first-child {
         margin: 99px 0px 0px 0px;
      }

      &:last-child {
         margin: 70px 0px 0px 0px;
      }
   }

   &__column {
      display: flex;
      flex-direction: column;
      width: 220px;
      text-align: center;
      position: relative;
      transition-duration: 0.6s;
      overflow: hidden;

      &:hover {
         max-width: 333px;
         width: 333px;
         .team__column-texts {
            opacity: 1;
            transition-delay: 0.5s;
            transition-duration: 0.3s;
         }
         .team__column-img {
         }
         .team__column-fon {
            width: 333px;
            height: 149px;
            background-color: #9308d2;
            position: absolute;
            top: 0px;
            left: 0px;
            border-radius: 5px;
            opacity: 1;
            z-index: 2;
         }
      }
   }

   &__column-img {
      position: relative;
      z-index: 4;
      height: 148px;
   }

   &__column-body {
      max-width: 195px;
   }

   &__column-title {
   }

   &__column-text {
      max-width: 170px;
      position: relative;
      left: 10px;
   }
   &__column-texts {
      font-size: 12px;
      position: absolute;
      z-index: 3;
      max-width: 158px;
      top: 25px;
      left: 160px;
      opacity: 0;
   }

   &__column-fon {
      width: 126px;
      height: 126px;
      background-color: #9308d2;
      position: absolute;
      top: 10px;
      left: 10px;
      border-radius: 50%;
      opacity: 0.25;
      z-index: 2;
      transition-duration: 0.6s;
   }
}

@media (max-width: 1280px) {
   .team {
      padding: 90px 30px 90px 30px;
   }
   .team__columns-two {
      padding: 0px 0px 0px 0px;
   }
   .team__columns {
      max-width: 1300px;
   }
}
@media (max-width: 1080px) {
   .team{
      background: url("../image/team/bg.svg") 0 0 repeat;
      padding: 60px 30px 50px 30px;
   }
   .team__columns{
      flex-wrap: wrap;

   }
   .team__columns:first-child {
      margin: 60px 0px 0px 0px;
   }
   .team__columns:last-child{
      margin: 0px 0px 0px 0px;
   }
   .team__column {
      pointer-events:none;
      margin-right: 60px;
      margin-bottom: 30px;
      width: 400px;
   }
   .team__column-texts {
      opacity: 1;
   }
   .team__column-fon {
      width: 400px;
      height: 149px;
      background-color: #9308d2;
      position: absolute;
      top: 0px;
      left: 0px;
      border-radius: 5px;
      opacity: 1;
      z-index: 0;
   }
   .team__column-texts {
      top: 30px;
      left: 180px;
   }
}
@media (max-width: 1024px) {
   .team__column {
      margin-right: 0px;
   }
}
@media (max-width: 900px) {
   .team{
      background: url("../image/team/bg.svg") 0 0 repeat;
   }
   .team__column {
      width: 200px;
   }
   .team__column-title {
      font-size: 14px;
   }
   .team__column-text {
      font-size: 12px;
   }
   .team__column-texts {
      display: none;
   }
   .team__column-fon {
      display: none;
   }
   .team__column-texts {
      display: none;
   }
}
@media (max-width: 860px) {
   .team__columns{
      justify-content: space-around;
   }
   .team__column {
      margin-right: 15px;
      max-width: 150px;
   }
   .team__column-title{
      font-size: 12px;
   }
}
@media (max-width: 720px) {
   .team{
      padding: 60px 30px 30px 30px;
   }
   .team__columns{
      justify-content: space-around;
   }
   .team__column {
      margin-right: 15px;
      max-width: 130px;
      max-height: 210px;
   }
   .team__column-title{
      margin: 0 auto;
      font-size: 14px;
      max-width: 80px;
   }
   .team__column-text{
      text-align: start;
      padding-top: 10px;
   }
}
@media (max-width: 360px) {
   .team{
      padding: 60px 30px 20px 30px;
   }
   .team__column {
      padding-left: 20px;
   }
}

//project

.project {
   background: url("../image//project/bg.svg") 0 0 no-repeat;
   padding: 111px 0px 84px 0px;
   &__wrapper {
      max-width: 1355px;
      margin: 0px auto;
   }

   &__galery {
      display: flex;
      justify-content: space-between;
   }

   &__group-one {
      display: flex;
      max-width: 812px;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   &__group-two {
      display: flex;
      max-width: 501px;
      flex-wrap: wrap;
   }

   &__column {
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      padding: 12px;
      &-one {
         border: 1px solid #8001ff;
         max-height: 411px;
         flex: 1 1 466px;
         margin: 0px 40px 0px 0px;
      }
      &-two {
         border: 1px solid #bb1873;
         max-height: 411px;
         flex: 1 1 304px;
      }
      &-three {
         border: 1px solid #9c0bbd;
         max-height: 237px;
         flex: 1 1 811px;
         margin: 38px 0px 0px 0px;
      }
      &-four {
         border: 1px solid #de261f;
         max-height: 301px;
         flex: 1 1 501px;
      }
      &-five {
         border: 1px solid #ce1f47;
         max-height: 343px;
         flex: 1 1 501px;
         margin: 43px 0px 0px 0px;
      }

      &:hover {
         .project__body {
            background-color: transparent;
         }
         .project__body-wrapper {
            opacity: 1;
         }
      }
   }

   &__body {
      flex: 1 1 411px;
      transition-duration: 0.3s;
      &-wrapper {
         opacity: 0;
         transition-duration: 0.3s;
         padding: 50px 30px;
      }
      &-one {
         background-color: #8001ff10;
      }
      &-two {
         background-color: #bb187310;
      }
      &-three {
         background-color: #9c0bbd10;
      }
      &-four {
         background-color: #de261f10;
      }
      &-five {
         background-color: #ce1f4710;
      }
   }

   &__title {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.05px;
   }

   &__text {
      padding: 30px 0px 0px 0px;
      text-align: justify;
   }
}

@media (max-width: 1600px) {
   .project {
      padding: 111px 30px 84px 30px;
   }
}
@media (max-width: 1400px) {
   .project {
      padding: 90px 0px 84px 0px;
      background: url("../image//project/bg.svg") 0 0 repeat;
   }
   .project__wrapper {
      display: flex;
      justify-content: center;
   }
   .project__galery {
      flex-direction: column;
   }
   .project__group-two {
      max-width: 812px;
      justify-content: space-between;
   }
   .project__column-four {
      max-height: 411px;
      flex: 1 1 466px;
      margin: 43px 40px 0px 0px;
   }
   .project__column-five {
      max-height: 411px;
      flex: 1 1 304px;
   }
}
@media (max-width: 1024px) {
   .project {
      padding: 50px 0px 50px 0px;
   }
}
@media (max-width: 870px) {
   .project {
      padding: 30px;
   }
   .project__group-one,
   .project__group-two {
      max-width: 700px;
   }
   .project__column-one,
   .project__column-four {
      margin: 0px;
   }
   .project__column {
      margin-top: 30px;
   }.project__column-five {
      margin-bottom: 30px;
   }
   .project__body {
      max-height: 70px;
      padding: 0 10px;
   }
   .project__body-wrapper {
      opacity: 1;
      padding: 25px 0px;
      text-align: center;
   }
   .project__title {
      font-weight: 500;
   }
   .project__text {
      padding: 10px 0px 0px 0px;
      text-align: justify;
      max-width: 600px;
      margin: 0 auto;
      opacity: 0;
   }
   .project__column:hover {
      .project__body {
         background-color: transparent;
      }
      .project__text {
         transition-duration: 0.3s;
         opacity: 1;
      }
      .project__body {
         max-height: 150px; // размер окна при развертке акардеона
      }
   }
}
@media (max-width: 600px) {
   .project {
      padding: 10px 30px 30px 30px;
   }
   .project__body {
      max-height: 50px;
   }
   .project__body-wrapper {
      padding: 15px 0px;
   }
   .project__title {
      font-size: 16px;
   }
   .project__text {
      font-size: 14px;
   }
   .project__column:hover {
      .project__body {
         max-height: 130px; // размер окна при развертке акардеона
      }
   }
}
@media (max-width: 480px) {
   .project__body {
      max-height: 35px;
   }
   .project__body-wrapper {
      padding: 7px 0px;
   }
   .project__title {
      font-size: 14px;
   }
   .project__text {
      font-size: 12px;
   }
   .project__column {
      margin-top: 20px;
   }
   .project__column:hover {
      .project__body {
         max-height: 100px; // размер окна при развертке акардеона
      }
   }
}
@media (max-width: 425px) {
   .project__column:hover {
      .project__body {
         max-height: 110px; // размер окна при развертке акардеона
      }
   }
}
@media (max-width: 350px) {
   .project {
      padding: 0px 30px 30px 30px;
   }
   .project__body {
      max-height: 25px;
   }
   .project__body-wrapper {
      padding: 4px 0px;
   }
   .project__column {
      margin-top: 15px;
   }
   .project__column:hover {
      .project__body {
         min-height: 130px; // размер окна при развертке акардеона
      }
   }
}

//achiv

.achiv {
   margin: -11px 0px 0px 0px;
   padding: 111px 0px 178px 0px;
   background: url("../image/achiv/bg.svg") 0 0 no-repeat;
   &__wrapper {
      max-width: 1320px;
      margin: 0px auto;
   }

   &__title {
      background: linear-gradient(90deg, #8000ff, #ff2e00);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: 600;
      font-size: 28px;
      letter-spacing: 0.05px;
      max-width: 205px;
   }

   &__slider {
      &-wrapper {
         margin: 117px 0px 0px 0px;
         letter-spacing: 0.05px;
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
   }

   &__slide {
      max-height: 521px;
      max-width: 381px;
      background: linear-gradient(151.92deg, rgba(130, 2, 250, 0.4) 0%, rgba(217, 38, 19, 0.4) 100%);
      text-align: center;
      opacity: 0.6;
      font-weight: 500;
      font-size: 13.5px;
      line-height: 16px;
      padding: 62px 45px 100px 45px;
   }

   &__slide-title {
      & span {
         font-weight: 700;
         font-size: 15.5px;
         line-height: 18px;
      }
   }

   &__slide-img {
      margin: 60px 0px 0px 0px;
      display: inline-block;
   }

   &__slide-text {
      margin: 55px 0px 0px 0px;
   }

   &__slide-pleace {
      margin: 54px 0px 0px 0px;
   }
}
.slide-active {
   max-width: 408px;
   max-height: 555px;
   height: 555px;
   background: transparent;
   border: 2px solid;
   border-image-source: linear-gradient(152.58deg, #8001ff 1.69%, #db270d 100.74%);
   border-image-slice: 1;
   margin: 0px 42px;
}

@media (max-width: 1800px) {
   .achiv {
      display: none;
   }
}

//contact

.contact {
   margin: -32px 0px 0px 0px;
   padding: 94px 0px 96px 0px;
   letter-spacing: 0.05px;
   background: url("..//image/contact/bg.svg") 0 0 no-repeat;
   &__wrapper {
      max-width: 1320px;
      margin: 0px auto;
   }

   &__title {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
   }

   &__columns {
      padding: 46px 0px 0px 0px;
      display: flex;
      justify-content: space-between;
      max-width: 1320px;
      margin: 0px auto;
   }

   &__column {
      max-width: 300px;
      display: flex;
      flex: 1 1 auto;
      border: 1px solid #000000;
      border-radius: 5px;
      padding: 13px 0px 13px 14px;
      align-items: center;
      transition-duration: 0.3s;
      &:hover {
         border: 1px solid #e4e4e4;

         .contact__column-img {
            color: #e4e4e4;
         }
         .contact__column-link {
            color: #e4e4e4;
         }
      }
   }

   &__column-img {
      margin: 0px 7px 0px 0px;
      color: #000000;
      transition-duration: 0.3s;
   }

   &__column-link-wrapper {
   }

   &__column-link {
      color: #000;
      transition-duration: 0.3s;
   }
}

@media (max-width: 1600px) {
   .contact {
      padding: 70px 30px 96px 30px;
   }
}
@media (max-width: 1024px) {
   .contact__column {
      max-width: 280px;
   }
}
@media (max-width: 950px) {
   .contact {
      padding: 40px 30px 75px 30px;
   }
   .contact__columns {
      padding: 30px 0px 0px 0px;
      flex-wrap: wrap;
      justify-content: center;
   }
   .contact__column {
      max-width: 300px;
      margin: 0 30px 30px 0px;
      padding-right: 50px;
   }
   .contact__column:last-child {
      margin: 0 30px 0px 0px;
   }
}
@media (max-width: 640px) {
   .contact__columns {
      padding: 30px 0px 0px 0px;
      flex-wrap: wrap;
      justify-content: center;
   }
   .contact__column {
      margin: 0 30px 15px 0px;
      padding: 5px 20px 5px 14px;
   }
}
@media (max-width: 596px) {
   .contact__column {
      margin: 0 30px 7px 0px;
      padding: 5px 20px 5px 14px;
   }
}
@media (max-width: 350px) {
   .contact__columns {
      padding: 30px 0px 0px 0px;
      flex-wrap: wrap;
      justify-content: center;
   }
   .contact__column {
      border: none;
      padding: 0;
   }
}

//footer

.footer {
   margin: -46px 0px 0px 0px;
   padding: 65px 0px 29px 0px;
   background-color: #0a0a0a;
   &__wrapper {
   }

   &__columns {
      display: flex;
      justify-content: space-between;
      max-width: 1320px;
      margin: 0px auto;
      align-items: center;
   }

   &__column {
   }

   &__column-text {
   }

   &__column-two {
      display: flex;
      align-items: center;
   }

   &__column-img {
      margin: 0px 28px 0px 0px;
   }
}
.fa {
}
.fa-angle-double-up {
}

@media (max-width: 1600px) {
   .footer {
      padding: 50px 30px 29px 30px;
   }
}
@media (max-width: 1280px) {
   .footer {
      padding: 30px 30px 29px 30px;
   }
}
@media (max-width: 768px) {
   .footer {
      padding: 15px 30px 15px 30px;
   }
}
@media (max-width: 430px) {
   .footer {
      padding: 10px 30px 10px 30px;
   }
   .footer__column-two {
      padding-left: 30px;
   }
}
@media (max-width: 360px) {
   .footer {
      padding: 10px 30px 15px 30px;
   }
   .footer__column-two {
      display: none;
   }
}
